# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.db

# Flutter / Dart
mobile/build/
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/

# IDE
.idea/
.vscode/
*.iml
*.swp

# Env
.env
